<div class="m-widget14 facility-view facility-main-view m-portlet">
	<div class="m-widget14__header">
		<h3 class="m-widget14__title">
			Your Locations
		</h3>
		<span class="m-widget14__desc">
			Access to all your locations.
		</span>
	</div>
	<div class="m-search-form">
	    <mat-form-field class="example-form-field">
			  <input matInput type="text" placeholder="" [(ngModel)]="searchText">
			  <mat-icon class="search-icon">search</mat-icon>
			  <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
			    <mat-icon>close</mat-icon>
			  </button>
			</mat-form-field>
	</div>
	<div class="m-form-content">
		<div *ngFor="let item of facilityGroups">
			<mat-accordion>
				<mat-expansion-panel [expanded]="true" class="main-panel">
			    <mat-expansion-panel-header class="main-header" [collapsedHeight]="'45px'" [expandedHeight]="'45px'">
			      <div class="header">
			        <table  class="mat-elevation-z8">
							  <tr class="mat-header-row ng-star-inserted">
							  	<th class="mat-header-cell cdk-column-name mat-column-name ng-star-inserted">
			        			<span class="location-name">{{item.name}}</span>
							  	</th>
							  </tr>
							 </table>
			      </div>
			    </mat-expansion-panel-header>
			    <div *ngFor="let subitem of item.values; let i = index">
					 		<mat-accordion>
							  <mat-expansion-panel class="sub-panel" (opened)="panelOpenState1 = true"
							                       (closed)="panelOpenState1 = false">
							    <mat-expansion-panel-header>
							      <div class="header">
							        <table  class="mat-elevation-z8">
											  <tr class="mat-header-row ng-star-inserted">
											  	<th class="mat-header-cell cdk-column-name mat-column-name ng-star-inserted">
											  		<mat-icon>location_on</mat-icon>
							        			<span class="location-name">{{subitem.name}}</span>
							        			({{subitem.values.length}})
											  	</th>
											  	<th class="small mat-header-cell cdk-column-good mat-column-good ng-star-inserted" *ngIf="panelOpenState1 == false">
											  		{{totalGood}}
											  	</th>
											  	<th class="small mat-header-cell cdk-column-warning mat-column-warning ng-star-inserted" *ngIf="panelOpenState1 == false">
											  		{{totalWarning}}
											  	</th>
											  	<th class="small mat-header-cell cdk-column-check mat-column-check ng-star-inserted" *ngIf="panelOpenState1 == false">
											  		{{totalCheck}}
											  	</th>
											  </tr>
											 </table>
							      </div>
							    </mat-expansion-panel-header>

							    <table mat-table [dataSource]="subitem.dataSource.data | slice:subitem.offset:subitem.offset + subitem.pageSize || 10" class="mat-elevation-z8">
										  <!-- Facility Name Column -->
										  <ng-container matColumnDef="name">
										    <th mat-header-cell *matHeaderCellDef> Facility Name </th>
										    <td mat-cell *matCellDef="let element">
										    	<mat-icon>home</mat-icon>
										    	<span class="facility-name">{{element.name}}</span>
										    </td>
										  </ng-container>

										  <!-- Good Column -->
										  <ng-container matColumnDef="good" class="hidden">
										    <th class="small" mat-header-cell *matHeaderCellDef> Good </th>
										    <td class="good" mat-cell *matCellDef="let element"> {{element.good}} </td>
										  </ng-container>

										  <!-- Warning Column -->
										  <ng-container matColumnDef="warning">
										    <th class="small" mat-header-cell *matHeaderCellDef> Warning </th>
										    <td class="warning" mat-cell *matCellDef="let element"> {{element.warning}} </td>
										  </ng-container>

										  <!-- Check Column -->
										  <ng-container matColumnDef="check">
										    <th class="small" mat-header-cell *matHeaderCellDef> Check </th>
										    <td class="check" mat-cell *matCellDef="let element"> {{element.check}} </td>
										  </ng-container>

										  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
										  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEdit(row)"></tr>
									</table>

									<div class="mat-table__bottom">
										<mat-spinner [diameter]="20" *ngIf="subitem.dataSource.data.loading$ | async"></mat-spinner>
										<mat-paginator #paginator (page)="pageChange($event, i, subitem)" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [length]="subitem.dataSource.data.length" [showFirstLastButtons]="true"></mat-paginator>
									</div>
							  </mat-expansion-panel>
							</mat-accordion>
			    </div>
	    	</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>
</div>